/* google fonts */
.inter-fonts {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

/* other fonts  */
.sevillana-regular {
    font-family: "Sevillana", cursive;
    font-weight: 900;
    font-style: normal;
    font-size: 5rem;
}

body {
    margin: 0 0;
    color: #FFFFFF;
    background-color: black;
}

#fa-bars {
    display: none;
}

.header-bg {
    background-color: rgba(17, 17, 17, 1);
}

.max-width {
    max-width: 85%;
    margin: 0 auto;
}

.nav-btn {
    padding: 8px 20px;
    border-radius: 42px;
    background-color: #E6533C;
    border: 0;
    color: rgb(244, 244, 244);
    font-weight: bold;
    cursor: pointer;
}

.btn-primary {
    padding: 16px 40px;
    border-radius: 42px;
    background-color: #E6533C;
    border: 0;
    color: rgb(244, 244, 244);
    font-size: 1rem;
    font-weight: 600;
    margin-top: 15px;
    margin-right: 14px;
    cursor: pointer;
}

.dwn-btn {
    background-color: rgba(17, 17, 17, 1);
    border: 1px solid #FFFFFF;
}

.section-top {
    margin-top: 150px;
}

.text-center {
    text-align: center;

}

.display-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 36px;
    font-weight: 800;
    color: #E6533C;
}

.nav-element {
    border: 1px solid rgb(75, 67, 67);
    border-radius: 30px;
    padding: 2px 20px 2px 2px;
    align-items: center;
    gap: 60px;
}

.nav-element>li {
    list-style: none;
}

.nav-element>li>button,
a {
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.navbar {
    margin-bottom: 40px;
}

.banner-title {
    font-size: 5rem;
    font-weight: 900;
    margin-bottom: 15px;
}

.drescription {
    margin-top: 0;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    padding-right: 150px;
}

/* banner related style */
.stay-health {
    width: 100%;
}

.stay-health img {
    margin-left: 200px;
    width: 70%;
}

.tutorial-title {
    margin: 10px -15px 0 0;
    font-size: 2.5rem;
    font-weight: 900;
}

.video-tutorial {
    justify-content: space-evenly;
}

.dot {
    width: 30px;
    height: 30px;
    background-color: #E6533C;
    border-radius: 50%;
}

.video-tutorial-title {
    font-size: 1.8rem;
    font-weight: 900;
    margin: 10px -15px 0 0;
}

.tutorial-drescription {
    margin: 0 0 15px 0;
    font-size: .80rem;
    padding: 0;

}

.video-tutorial,
.video-tutorial-second {
    width: 130px;
    border-radius: 8px;
    padding: 0 20px;
    position: absolute;
    background-color: rgba(42, 45, 45, 0.338);
    margin-top: -230px;
    margin-left: 200px;
}

.video-tutorial-second {
    margin-top: -680px;
    margin-left: 580px;

}

/* change Your Habit related style */
.section-title {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
}

.change-habit-container {
    margin-top: 70px;
}

.display-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 40px;
    text-align: center;
}

.habit-details {
    padding: 0 300px;
}

.habit-drescription {
    padding: 0;
    margin-top: 0;
}

.change-habit-item img {
    border-radius: 100%;
}

.movement-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 6px;
}

.movement-drescription {
    padding: 0;
}

/* Run an Extra related style */
.run-extra-container {
    align-items: start;
    background-color: rgb(61, 60, 60);
    padding: 20px;
    border-radius: 10px;
}

.run-extra-image {
    text-align: end;
}

.run-extra-image img {
    border-radius: 10px;
}

.run-drescription {
    margin-bottom: 0;
}

/* Training and Exercises related style */
.exercise-images-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
}

.exercise-drescription {
    position: relative;
    font-size: 1rem;
    margin-top: -150px;
    color: rgba(255, 255, 255, 0.5);
    padding: 20px;


}

.exercise-img img {
    width: 100%;
    height: 100%;
    filter: opacity(60%);


}

/* BMI Calculator related styles*/
.bmi-clculator {
    background-color: rgba(68, 70, 70, 0.454);
    padding: 50px 10px 100px;
}

.calculator-drescription {
    padding: 0;
}

.bmi-calculator-containers {
    align-items: start;
    margin-top: 50px;

}

.bmi-table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid rgb(72, 72, 71);
    padding: 10px 25px;
}

.your-bmi-input {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

input,
select {
    padding: 12px 70px 12px 20px;
    border: 0px solid black;
    border-radius: 8px;
    background-color: rgba(68, 70, 70, 0.454);
    color: rgba(255, 255, 255, 0.6);
}

/* Meet Our Team */
.our-team-details {
    padding: 0 300px;
}

.our-team-containers {
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 18px;
    gap: 18px;
    border-radius: 10px;
}

.team-drescription {
    padding: 0;
}

.our-team-image img {
    height: 98%;
    width: 98%;
    border-radius: 10px;
}

.triner-name,
.triner-drescription {
    color: rgb(211, 189, 231);
    position: absolute;
    margin-left: 20px;
    margin-top: -80px;
}

.triner-name {
    font-size: 1.2rem;
    color: #FFFFFF;
    font-weight: 900;
}

.triner-drescription {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    margin-top: -50px;
}


/* footer related styles */
footer {
    background-color: rgb(46, 49, 49);
    padding: 30px 0px;
}

.footer-container {
    grid-template-columns: repeat(2, 1fr);
    text-align: start;
}

.footer-fitness {
    width: 450px;
}

.footer-title {
    font-size: 4.37rem;
    font-weight: 800;
    margin-bottom: 10px;
}

.started-title {
    font-size: 2rem;
    font-weight: 700;
}

.footer-item {
    list-style: none;
    margin-bottom: 10px;

}

.footer-item>a {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.3rem;
}

.started-container {
    justify-content: space-around;
}

.hr-border {
    margin-top: 50px;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.1);
}

.footer-text {
    margin-top: 25px;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
}

.footer-drescription {
    padding: 0;
    margin-top: 0;
}

/* responsive style */
@media screen and (max-width:576px) {
    #fa-bars {
        display: block;
    }

    .section-top {
        margin-top: 50px;
    }

    .section-title {
        font-size: 2rem;
    }

    .sevillana-regular {
        font-size: 2.50rem;
    }


    .btn-primary {
        padding: 12px 30px;
        font-size: 0.8rem;
        width: 100%;
    }

    .nav-element {
        display: none;
    }

    .banner-title {
        font-size: 2.25rem;
        text-align: start;
    }

    #banar-sub-title {
        text-align: start;
        padding-right: 0;
    }

    .banner,
    .run-extra-container,
    .started-container,
    .bmi-calculator-containers {
        flex-direction: column;
        justify-content: center;
    }

    .stay-health {
        text-align: center;
        margin-top: 20px;
    }

    .stay-health img {
        width: 60%;
        margin-left: 0px;
    }


    .video-tutorial {
        margin-top: -130px;
        margin-left: 60px;
    }

    .video-tutorial-second {
        margin-top: -300px;
        margin-left: 200px;
    }



    .habit-details,
    .our-team-details {
        padding: 0 0px;
    }

    .display-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .run-extra-detail,
    .bmi-clculator {
        text-align: center;
    }

    .run-drescription {
        padding-right: 0;
    }

    #trading-sub-title,
    #chart-sub-title {
        padding-right: 0;
    }

    .run-extra-image {
        margin-top: 30px;
        text-align: center;
    }

    .run-extra-image img {
        width: 100%;
    }

    .footer-fitness {
        width: 100%;
    }

    .footer-container {
        text-align: center;
    }
}

@media screen and (min-width:768px) and (max-width:992px) {

    .section-top {
        margin-top: 50px;
    }

    .section-title {
        font-size: 2rem;
    }

    .banner-title {
        text-align: start;
    }

    #banar-sub-title {
        text-align: start;
        padding-right: 0;
    }

    .banner,
    .started-container,
    .bmi-calculator-containers {
        flex-direction: column;
        justify-content: center;
    }

    .stay-health {
        text-align: center;
        margin-top: 20px;
    }

    .stay-health img {
        width: 60%;
        margin-left: 0px;
    }


    .video-tutorial {
        margin-top: -130px;
        margin-left: 60px;
    }

    .video-tutorial-second {
        margin-top: -300px;
        margin-left: 200px;
    }



    .habit-details,
    .our-team-details {
        padding: 0 0px;
    }

    .display-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .bmi-clculator {
        text-align: center;
    }

    .run-drescription {
        padding-right: 0;
    }

    #trading-sub-title,
    #chart-sub-title {
        padding-right: 0;
    }

    .run-extra-image {
        margin-top: 30px;
        text-align: center;
    }

    .run-extra-image img {
        width: 100%;
    }

    .chart-title {
        margin-top: 50px;
    }

    .footer-fitness {
        width: 100%;
    }

    .footer-container {
        text-align: center;
    }
}